<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147042181080-3v4de351nt37c945itej2srjci306bjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147042181080-3v4de351nt37c945itej2srjci306bjk</string>
	<key>API_KEY</key>
	<string>AIzaSyAfFEBooQJmocVTWA52wk6huO4sIPZ_O88</string>
	<key>GCM_SENDER_ID</key>
	<string>147042181080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terry.Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-c4c06</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-c4c06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147042181080:ios:eb499052b6e95424411cad</string>
</dict>
</plist>